/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.element-row {
  transition: background-color 200ms linear;
  cursor: pointer;

  &:hover {
    background-color: whitesmoke;

    .mat-cell {
      color: nb-theme(color-basic-800);
    }
  }

  &.selected {
    background-color: whitesmoke;

    .mat-cell {
      color: nb-theme(color-basic-800);
    }
  }
}
